* {
    box-sizing: border-box;
}

#juego {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.dadoJugador {
    width: 150px;
    height: 150px;
    background-color: green;
    color: white;
    font-size: 100px;
    text-align: center;
}

.dadoOrdenador {
    width: 150px;
    height: 150px;
    background-color: red;
    color: white;
    font-size: 100px;
    text-align: center;
}

#ganador {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#winner {
    font-size: 2.5em;
}